.mainbanner_content {
  margin-top: -1px;
  padding: 60px 0;
  background-color: #0e0e1a;

  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--title-font-family);
    line-height: 1.2;
    font-size: 110px;
    background: linear-gradient(
      rgb(99, 43, 14),
      rgb(147, 84, 71),
      rgb(253, 215, 208),
      rgb(99, 43, 14) 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    span {
      display: block;
    }
  }
  .mainbanner_img_wrap {
    max-height: 700px;
    overflow: hidden;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 30%;
      left: 0;
      content: "";
      z-index: 1;
      pointer-events: none;
    }
    &::before {
      bottom: 0px;
      transform: translateY(1px);
      background-image: linear-gradient(
        180deg,
        rgba(14, 14, 26, 0) 20%,
        rgba(14, 14, 26, 1) 100%
      );
    }
    &::after {
      top: 0;
      transform: translateY(-1px);
      background-image: linear-gradient(
        180deg,
        rgba(14, 14, 26, 1) 20%,
        rgba(14, 14, 26, 0) 100%
      );
    }
    .mainbanner_images {
      display: flex;
      justify-content: space-between;
      .img_roll {
        transform: translateZ(0);
        transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      .bn_img_01 {
        width: 31%;
        animation: slideToDown 90s linear infinite;
        img {
          width: 100%;
        }
      }
      .bn_img_02 {
        transform: translateY(-70%);
        width: 62%;
        animation: slideToTop 90s linear infinite;
        img {
          width: 100%;
        }
      }
    }
  }
}

.main_mygallery {
  padding: 100px 0 160px;
  background-color: #1b1b26;
  transform: translateY(-1px);
  h1 {
    padding-bottom: 50px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--subtitle-font-color);
    font-size: var(--subtitle-font-size);
  }
  .gallery_name {
    h4 {
      padding: 0;
      margin: 0.5rem 0 0;
      font-size: 18px;
      font-weight: 700;
    }
    span {
      font-size: 16px;
      color: #ccc;
    }
    text-align: center;
    color: #fff;
  }
}

.main_aboutme {
  padding: 100px 0 160px;
  background-color: #c07d5b;
  transform: translateY(-1px);

  .main_profile_img {
    border-radius: 1rem;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .main_profile_content {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .main_profile_text {
      h1 {
        margin-bottom: 2rem;
        font-family: var(--subtitle-font-family);
        font-weight: var(--subtitle-font-weight);
        color: var(--subtitle-font-color);
        font-size: var(--subtitle-font-size);
      }
      h3 {
        font-size: var(--point-font-size);
        font-weight: var(--point-font-weight);
      }
      a {
        margin: 0 10px;
        background-color: #1b1b26;
        text-decoration: none;
        color: #c17d5b;
      }
    }
    button {
      padding: 20px 40px;
      background: none;
      border: 1px solid #fff;
      border-radius: 0.3em;
      outline: 0;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      &:hover {
        color: #c17d5b;
        background: #1b1b26;
        border: 0;
      }
    }
  }
}

.main_myvideos {
  padding: 100px 0 160px;
  background-color: #1b1b26;
  transform: translateY(-1px);

  h1 {
    margin-bottom: 50px;
    text-align: center;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--subtitle-font-color);
    font-size: var(--subtitle-font-size);
  }
  .myvideos_content {
    margin-bottom: 30px;
    .video_list {
      position: relative;
      .thumb_img {
        border-radius: 0.85rem;
        overflow: hidden;
        img {
          width: 100%;
        }
        &::after {
          transition: 0.3s;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
          background: linear-gradient(
            180deg,
            rgba(14, 14, 26, 0.2) 0%,
            rgba(14, 14, 26, 1) 95%
          );
        }
      }
      .video_name {
        position: absolute;
        bottom: 0;
        padding-left: 1.25rem;
        color: #ecf0f3;
        font-size: 1.25rem;
      }
      &:hover {
        cursor: pointer;
        .thumb_img {
          &::after {
            opacity: 0;
          }
        }
      }
    }
  }
}

.main_contact {
  padding: 100px 0 160px;
  background-color: #ecf0f3;
  text-align: center;
  transform: translateY(-1px);

  h1 {
    padding-bottom: 50px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--point-font-color);
    font-size: var(--subtitle-font-size);
  }
  h3 {
    font-size: var(--point-font-size);
    font-weight: var(--point-font-weight);
  }
  .form_wrap {
    padding-left: 2rem;
    .form {
      display: flex;
      flex-direction: column;
      text-align: start;
      label {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 700;
      }
      input {
        padding: 15px 0 15px 10px;
        margin-bottom: 20px;
        border: 0;
        outline: 0;
        border-radius: 0.3rem;
      }
      textarea {
        padding: 15px 0 15px 10px;
        border: 0;
        outline: 0;
        border-radius: 0.3rem;
      }
      .btn_send {
        padding: 15px 0;
        margin-top: 40px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        outline: 0;
        border: 1px solid #707070;
        border-radius: 0.3em;
        background: #ecf0f3;
      }
    }
    .message_popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background-color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }
}

@keyframes slideToDown {
  100% {
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes slideToTop {
  100% {
    transform: translate3d(0, 2%, 0);
  }
}

@media only screen and (max-width: 767px) {
  .mainbanner_content {
    padding: 0;
    .title {
      padding: 4rem 0;
      order: 1;
      flex-direction: unset;
      flex-wrap: wrap;
      span {
        font-size: 4.2rem;
        padding: 0 1rem;
      }
    }
    .mainbanner_img_wrap {
      max-height: 50vh;
      overflow: hidden;
      position: relative;
    }
  }
  .main_mygallery {
    padding: 100px 0 70px;
    h1 {
      text-align: center;
    }
  }

  .main_aboutme {
    padding: 70px 0 70px;
    background-color: #c07d5b;
    transform: translateY(-1px);

    .main_profile_img {
      max-height: 400px;
      img {
        width: 100%;
        transform: translateY(-15%);
      }
    }
    .main_profile_content {
      padding: 3em 2em;
      .main_profile_text {
        padding-bottom: 2em;
      }
      .btn_goBiography {
        text-align: center;
        button {
          width: 100%;
          padding: 15px 30px;
        }
      }
    }
  }
  .main_contact {
    padding: 100px 1rem 160px;
    .form_wrap {
      padding-left: 0;
    }
  }
}
