.card {
  margin-bottom: 3em;
  .img_content {
    border-radius: 0.5rem;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .img_info {
    h4 {
      margin: 0.5em 0 0.2em;
      font-size: 1rem;
      font-weight: 700;
    }
    span {
      font-size: 1rem;
      color: #ccc;
    }
  }
}
