@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://use.typekit.net/fsk1ncm.css");
@import url("https://use.typekit.net/fsk1ncm.css");

:root {
  --title-font-family: "krul", sans-serif;
  --point-font-family: "questa-grande", serif;
  --point-font-weight: 500;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
}

.navbar-toggler-icon {
  background: url("./images/ico_menu_toggle_open.svg");
}

.offcanvas-header {
  .btn-close {
    background: url("./images/ico_menu_toggle_close.svg");
  }
}

.nav-link:focus,
.nav-link:hover {
  color: white;
}

.offcanvas {
  background-color: #0e0e1a;
}
