@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://use.typekit.net/czp8mou.css");

:root {
  --title-font-family: "krul", sans-serif;
  --subtitle-font-family: "questa-grande", serif;
  --subtitle-font-weight: 500;
  --subtitle-font-color: white;
  --subtitle-font-size: 32px;
  --point-font-size: 18px;
  --point-font-weight: 700;
  --point-font-color: #c07d5b;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
}

.navbar-toggler-icon {
  background: url("./images/ico_menu_toggle_open.svg");
}

.offcanvas-header {
  .btn-close {
    background: url("./images/ico_menu_toggle_close.svg");
  }
}

.nav-link:focus,
.nav-link:hover {
  color: white;
}

.offcanvas {
  background-color: #0e0e1a;
}
.swiper {
  padding-bottom: 5rem;
  .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      background-color: #e0cabe;
    }

    .swiper-pagination-bullet-active {
      background: #a1552f;
    }
  }
}

.swiper-slide {
  img {
    width: 100%;
  }
}

.modal-body {
  aspect-ratio: 16 / 9;
  width: 100%;
  div {
    height: 100%;
  }
}

.modal-body.modal_gallery {
  aspect-ratio: unset;
  .modal_gallery_btn {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    button {
      background: #1b1b26;
      margin: 0 0.5rem;
      min-width: 92px;
    }
    &:disabled {
      background: #9999;
    }
  }
}

@media only screen and (max-width: 767px) {
  .swiper {
    padding-bottom: 9rem;
  }
}

.detail_header {
  display: flex;
  align-items: flex-end;
  height: 110px;
  background-color: #1b1b26;
}

.detail_title {
  padding-bottom: 1rem;
  color: white;
  font-weight: 700;
}

.detail_body {
  color: white;
  background-color: #0e0e1a;
  padding: 110px 0 130px;
}
