.navbar {
  background-color: hsl(240, 30%, 8%);
  position: fixed !important;
  width: 100%;
  z-index: 10000;
}

.logo {
  width: 40px;
}

.menu_items {
  a {
    margin-left: 2rem;
    color: #c07d5b;
    font-size: 18px;
    font-weight: 600;
  }
  &:hover {
    color: white;
  }
}

.menu_side_tit {
  color: #c68779 !important;
}
